// Шрифты
$font-family: Arial, sans-serif;
$font-size-root: 20px;
$font-size-large: 1.2rem;

// Цветовая палитра
$primary-color: #3C5A72;
$second-color: #FF6F61;
$tertiary-color: #A2B9D2;
$quaternary-color: #D4D9E6;
$background-color: #1B1F24;
$overlay-color: rgba(0, 0, 0, 0.6);

// Элементы интерфейса
$border-radius: 6px;


